* {
	border:solid 1px;
}

html body {
	margin:0px;
}

.bloque-principal{
	display:flex;
	flex-flow: row nowrap;
	align-items: center;
	align-content: center;
	height: 15rem;
	margin: 0px 1rem 0px 1rem;
}
	.foto {
	height: 13rem;
	width: 13rem;
	max-height:99%;
	max-width:99%;
	flex: 0 1 13rem;
	margin:1rem;


	}
	.bloque-descripcion {
	display:flex;
	flex: 3;
	flex-flow: column nowrap;
	//align-items: center;
	align-content: center;
	margin:1rem;
	height: 13rem;
	}
		.bloque-titulo {
		flex: 1;
		}
		.bloque-datos {
		flex: 4;
		}
	.bloque-tres {
	flex: 1;
	margin:1rem;
	height: 13rem;
		
	}